<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/assets/css/style.css rel=stylesheet">
    <link href="../style.css" rel="stylesheet">
    
</head>
<body>
    <!-- Hero Section  -->

    <!-- Logo and Menu -->
    <div>
        <nav>
            <a href="#">LOGO</a>
            <a href="#">Nav 1</a>
            <a href="#">Nav 1</a>
            <a href="#">Nav 1</a>
            <a href="#">Nav 1</a>
        </nav>
    </div>
    <!-- Main Heading -->
    <div>
        <h1> This is a fun heading</h1>
    </div>
    <!-- Hero image -->
    <div>
        <img>
    </div>
    <!-- hero information  -->
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- 1st image gallery section  -->
<section>
    <!-- text -->
    <div>
        <h2>another <span>sick heading for attention</span> </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laboriosam adipisci cumque hic ullam et, molestiae dolorem optio porro. Tempora vero in veniam deserunt soluta dolore adipisci natus placeat sunt?</p>
    
    </div>
    <!-- Gallery  -->
    <div>
        <div>
            <img>
        </div>

        <div>
            <img>
        </div>

        <div>
            <img>
        </div>

        <div>
            <img>
        </div>

        <div>
            <img>
        </div>

        <div>
            <img>
        </div>
    </div>
    <!-- Buttton -->
    <div>
        <a href="#"></a>
    </div>
</section>
    <!-- Sign up and photo -->
<section>
    <div>
            <div>
        <h2> this is a fun heading </h2>
        <h4>Another</h4>
        <h4>sick heading for attention</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut incidunt et, autem sapiente quas pariatur atque at tenetur mollitia, sed nulla quod nobis laborum ipsa hic itaque voluptas obcaecati.</p>
        <a href="#">Sign Up</a>
    </div>
    <div>
        <img>
    </div>
    </div>
</section>
    
    <!-- statement -->
 <section>
    <div>
        <h4> sometimes all you need is a big random block of text to really drive home the point</h4>
    </div>

</section>

    <!-- Gallery -->
<section>
    <div>
        <h3>Gallery</h3>

    </div>
    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore amet totam blanditiis reprehenderit odio maiores natus culpa aspernatur numquam beatae? Modi reprehenderit saepe assumenda dolore repudiandae explicabo fuga minima provident.</p>
    </div>
    <div>
        <a href="#">Sign Up</a>
    </div>
</section>

</div>


</section>
    
</body>
</html>